*{
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #1d212d;
  color: #ffff;
}
.container{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}
.cover-form{
  width: 350px;
}
.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group button{
  background: none;
  color: #ffff;
}
.form-group button:hover{
  color: #1d212d;
  box-shadow: 0px 0px  25px rgb(26, 164, 232);
}